# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md

# Images
!enter_End.rpgmvp
!enter_Kaiho.rpgmvp
!enter_Nukedasu.rpgmvp
!enter_Skip.rpgmvp
!enter_Syasei.rpgmvp
!enter_Tugihe.rpgmvp
!e_RuiRozzi0.rpgmvp
!E_YukiTalk.rpgmvp
!E_YukiTalk2.rpgmvp
!gameover2.rpgmvp
!gameover2b.rpgmvp
!gameover2c.rpgmvp
!gameover3.rpgmvp
!gameover4.rpgmvp
!gameover4b.rpgmvp
!gameover4c.rpgmvp
!t_Kibo.rpgmvp
!t_Mori2.rpgmvp
!UI_BtlSennoIcon1.rpgmvp
!UI_BtlSennoIcon2.rpgmvp
!UI_BtlSennoIcon3.rpgmvp
!UI_Gobu_Hp.rpgmvp
!UI_Gobu_Hp2.rpgmvp
!UI_Gobu_Kikendo.rpgmvp
!UI_MeosiMeta0.rpgmvp
!UI_MeosiMeta0b.rpgmvp
!UI_MeosiMeta0c.rpgmvp
!UI_MeosiMeta1.rpgmvp
!UI_MeosiMeta1b.rpgmvp
!UI_MeosiMeta1c.rpgmvp
!UI_MeosiMeta2.rpgmvp
!UI_MeosiMeta2b.rpgmvp
!UI_MeosiMeta2c.rpgmvp
!UI_MeosiMeta3.rpgmvp
!UI_MeosiMeta3b.rpgmvp
!UI_MeosiMeta3c.rpgmvp
!UI_MeosiMeta4.rpgmvp
!UI_MeosiMeta4b.rpgmvp
!UI_MeosiMeta4c.rpgmvp
!UI_Rabi_Isyo.rpgmvp
!UI_Rabi_Kousyou0.rpgmvp
!UI_Rabi_Kousyou1.rpgmvp
!UI_Rabi_Kousyou2.rpgmvp
!UI_Rabi_Kousyou3.rpgmvp
!UI_Rabi_Kousyou4.rpgmvp
!UI_Rabi_Kousyou5.rpgmvp
!UI_Rabi_Teikou0.rpgmvp
!UI_Rabi_Teikou1.rpgmvp
!UI_Rabi_Teikou2.rpgmvp
!UI_Rabi_Teikou3.rpgmvp
!UI_Rabi_Teikou4.rpgmvp
!UI_Rabi_Teikou5.rpgmvp
!UI_Setumei.rpgmvp
!UI_Tyokyodo.rpgmvp
!UI_TyokyodoB.rpgmvp